<table class="image">
<tr>
  <td style="width:50%; text-align:center; padding: 10px;" class="image_caption">
    <img style="width:{{ include.size }}px; height:{{ include.size }}px; padding: 0;" src="{{ include.url1 }}" alt="{{ include.description1 }}"/></td>
  <td style="width:50%; text-align:center; padding: 10px;" class="image_caption">
    <img style="width:{{ include.size }}px; height:{{ include.size }}px; padding: 0;" src="{{ include.url2 }}" alt="{{ include.description2 }}"/></td>
</tr>
<tr>
  <td class="image_two_cols_half_caption" >
    <p> {{ include.description1 }} </p>
  </td>
  <td class="image_two_cols_half_caption" >
    <p> {{ include.description2 }} </p>
  </td>
</tr>
</table>
